{% extends "/v1/index.html" %}
{% block content_A %}
    
      <main class="m-2 p-2">
        <div class="d-flex justify-content-center">
          <div class="col-md-6 m-2 p-2">

            <div class="d-flex align-items-center justify-content-between w-100 p-3 my-3 text-white bg-success rounded shadow-sm">
              <div class="d-flex w-70">
                <h6 class="mb-0">Add Event:</h6>
              </div>
            </div>
            
            <form class="needs-validation" novalidate="" action="/chat" method="post">
            
            <div class="row g-3 ">
              <div class="col-sm-6">
                <label for="user-query" class="form-label">Title</label>
                <input type="text" class="form-control" id="user-query" name="user-query" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Query required
                </div>
              </div>

            </div>

            <hr class="my-4">
  
            <div class="d-flex justify-content-center">
              <button class="btn btn-sm btn-success btn-lg" type="submit">Add</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    {% endblock %}