{% extends "/v1/index.html" %}
{% block content_A %}
<main class="m-2 p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Conversation 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Conversation 2</a>
                </div>
            </div>
            <div class="col-md-9 p-3">
                <div class="card bg-green-400 text-white">
                    <div class="card-header">
                        <h2 class="text-center">Datos del Censo de Puerto Rico</h2>
                    </div>
                    <div class="card-body" style="height: 300px; overflow-y: auto;">
                        
                         {% if response %}
                      <div class="bg-white text-dark p-2 mb-2 rounded">{{ response }}</div>
                      {% else %}
                      <div class="bg-white text-dark p-2 mb-2 rounded">Bienvenido, ¿En qué puedo ayudarte?</div>
                      {% endif %}
                  </div>
                    <div class="card-footer">
                        <form class="needs-validation" novalidate="" action="/chat" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" id="user-query" name="user-query" placeholder="Escribe tu mensaje aquí..." required="">
                                <div class="input-group-append m-2">
                                    <button class="btn btn-outline-light" type="submit">Enviar</button>
                                </div>
                                <div class="invalid-feedback">
                                    Query required
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
