<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>ChatPR</title>
</head>
<body>
    <header>
        <h1>ChatPR</h1>
    </header>
<body>
    <div class="flex-container">
        <div id="sidebar">

            <div class="saved-conversation">Conversation 1</div>
            <div class="saved-conversation">Conversation 2</div>
            
        </div>
        <div id="chatbot">
          
            <h2>Datos del Censo de Puerto Rico</h2>
            <div id="chatbot-messages">
                <div class="message">Bienvenido, ¿En qué puedo ayudarte?</div>
            </div>
            <input type="text" id="chatbot-input" placeholder="Escribe tu mensaje aquí...">
        </div>
    </div>
    
</body>
</html>