{% extends "/v1/index.html" %}
{% block content_A %}
  <main class="container mt-4">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Bienvenidos a CensoPR.chat</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Sacale provecho a toda la informacion del Censo de Puerto Rico con este chat.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-success btn-lg px-4 gap-3" data-bs-toggle="modal" data-bs-target="#gettingStartedModal">Getting started</button>
        </div>
      </div>
    </div>  
  </main>
{% endblock %}