header {
    background-color: #394447; 
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

header h1 {
    margin: 0; 
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

#chatbot {
    background: #57acad;
    border-radius: 15px;
    padding: 20px;
    color: white;
    width: 75%;
    margin: auto;
    margin-top: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chatbot h2 {
    text-align: center;
    margin-bottom: 20px;
}

#chatbot-messages {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #333333;
}

.user-message {
    text-align: right;
}

#chatbot-input {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.flex-container {
    display: flex;
}



#sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.saved-conversation {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.saved-conversation:hover {
    background-color: #e0e0e0;
}

.saved-conversation.active {
    background-color: #4facfe;
    color: white;
}